*{
    overflow-y: hidden;
}
.bg-forms-login{
    background: rgb(28,72,87);
}
.bg-button-login{
    background: rgb(9,233,137);
}
.bg-button-disabled{
    background: rgb(8, 197, 115);
    color: gainsboro;
}
.text-green-bs{
    color: rgb(9,233,137);
}
.border-auth{
    --tw-border-opacity: 1;
    border-color: rgb(9,233,137)
}

 
  
  
  
  
  